/* Write your CSS here */
.crypto-currency-app-container {
  background-color: #000000;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .crypto-currency-app-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}